#wrapper {
    width: 960px;
}

#top {
    line-height: 130px;
}

#content {
    background-image: url("../images/4x4-adventure-automobile-1571783.jpg");
}

#sidebar {
    background-color: black;
    opacity: 0.7;
}

#sidebar h1, h2 {
    color: white;
    position: relative;
    top: 115px;
}

.topHeight {
    height: 130px;
}

.contentHeight {
    height: 554px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navigation li {
    display: inline;
}

.marginCenter {
    margin-left: auto;
    margin-right: auto;
}

.clearMargin {
    margin: 0px;
}

.clearPadding {
    padding: 0px;
}

.textRight {
    text-align: right;
}

.floatLeft {
    float: left;
}

.halfPageNoPadding {
    width: 480px;
}

.halfPageWithPadding {
    width: 418px;
    padding-left: 31px;
    padding-right: 31px;
}




.grSmall {
    width: 329px;
    padding-left: 19px;
    padding-right: 19px;
}

.grBig {
    width: 545px;
    padding-left: 24px;
    padding-right: 24px;
}