#wrapper {
    width: 960px;
}

#top {
    line-height: 130px;
}

#footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#sidebar {
    opacity: 0.8;
}

#sideimage {
    width: 291px;
    padding: 18px;
}

.smallBorder {
    border: 1.2px solid black;
}

#about {
    width: 545px;
    padding-left: 24px;
    padding-right: 24px;
}

.blackBackground {
    background-color: black;
}

#sidebar h1, h2 {
    position: relative;
    top: 115px;
}

.mainImage {
    background-image: url("../images/4x4-adventure-automobile-1571783.jpg");
}

.contentHeight {
    height: 554px;
}

.whiteText {
    color: white;
}

.topHeight {
    height: 130px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navigation li {
    display: inline;
}

.marginCenter {
    margin-left: auto;
    margin-right: auto;
}

.clearMargin {
    margin: 0px;
}

.clearPadding {
    padding: 0px;
}

.clearFix {
    clear: both;
}

.textRight {
    text-align: right;
}

.floatLeft {
    float: left;
}

.halfPageNoPadding {
    width: 480px;
}

.halfPageWithPadding {
    width: 418px;
    padding-left: 31px;
    padding-right: 31px;
}